body > #root > div > .light-mode {
  height: 100vh; 
  background-color: #f4f4f4;
}
body > #root > div > .dark-mode {
  height: 100vh; 
  background-color: #222831;
}
.app{
  min-height: 600px;
  width: 400px;
  margin:40px auto;
  border-radius:10px ;
}
.formIput{
background-color: #d49a89;
color: #f6f4e6;
margin-top: 40px;
border: 0;
/* padding: 0 20px; */
text-align: center;
width: 399px;
height: 50px;
border-radius:90% 10% 87% 13% / 0% 100% 0% 100% ;
font-size: 22px;
font-weight: bold;
}
.form input::placeholder{
  color: #f6f4e6;
}
.form input:focus,.form  button:focus{
  outline:none;
}
.form > button{
  height: 50px;
  width: 90px;
  position: relative;
  left: 150px;
  margin-bottom: 12px;
  border: 0;
  border-radius:78% 22% 70% 30% / 0% 100% 0% 100%  ;
  margin-top: 20px;
  background-color: #d49a89;
  color:#ffffff;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}
.form > button:hover{
  transform: scale(1.1);
}
.light-mode .app{
  background-color: #557571;
}
.light-mode .modeBtn{
  background-color: #557571;
}
.dark-mode .app{
background-color: #393e46;
}
.dark-mode .modeBtn{
  background-color: #d49a89;
}
.modeBtn{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 0;
  margin: 8px 0 0 20px;
}
.modeBtn:focus{
  outline: none;
}